/* Variables */

:root {
  --color-verde: #37BA86;
}


/* Generales */

body{
  font-family: 'Montserrat', sans-serif;
}

#boton-menu-mobile{
  display: none;
}

.boton{
  border: 2px solid #fff;
  padding: 10px 25px;
  text-align: center;
  border-radius: 25px;
  color: #fff;
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
  font-size: 15px;
}

.boton:hover{
  text-decoration: none;
  background-color: #fff;
  color: #999;
}

.boton.verde{
  border: 1px solid var(--color-verde);
  color: var(--color-verde);
}

.boton.verde:hover{
  border: 1px solid var(--color-verde);
  background-color: var(--color-verde);
  color: #fff;
}

.boton.verde-alt{
  border: 1px solid var(--color-verde);
  background-color: var(--color-verde);
  color: #fff;
}

.boton.verde-alt:hover{
  border: 1px solid var(--color-verde);
  color: var(--color-verde);
  background-color: #fff;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}


.boton.rosa{
  border: 1px solid;
  color: #fff;
  background-color: #ef9fa3;
  border-color: #ef9fa3;
}

.boton.rosa:hover{
  border: 1px solid;
  color: #ef9fa3;
  background-color: #fff;
  border-color: #ef9fa3;
}

/* Header */

header{
  padding: 15px 0 15px 0;
}


.col-logo{
  padding: 0 !important;
}

header ul.menu{
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  height: 100%;
}


header ul.menu li{
  margin-left: 30px;
}


header ul.menu li a{
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;
  color: #999;
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}

header ul.menu li a:hover{
  text-decoration: none;
  color: var(--color-verde);
}


header .col-cambiar-pais .dropdown-toggle, header .dropdown-menu.show a{
  color: #999;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
}


header .col-cambiar-pais .dropdown-toggle:hover{
  text-decoration: none;
}

header .col-cambiar-pais .dropdown-menu.show{
  margin-top: 15px;
  border: none;
  min-width: 110px;
}

header .col-cambiar-pais .dropdown-menu.show a{
  width: 110px;
}

header .col-cambiar-pais .dropdown-menu.show img{
  margin-left: 3px;
  width: 18px;
  margin-top: -3px;
}

header .submenu-invitaciones .dropdown-menu.show  .dropdown-item{
  font-size: 13px;
}

header .submenu-invitaciones .dropdown-menu.show{
  top: 10px !important;
}

header.fixed-top{
  background: #fff;
}


/* Portada Home */

section.portada{
  background: url("../img/portada.jpg") center -65px no-repeat;
  background-size: cover;
}

section.portada .container .row{
  height: calc(110vh - 40px);
}

section.portada .info-portada{
  text-align: center;
}

section.portada .info-portada img{
  width: 30%;
  margin-bottom: 35px;
}

section.portada .info-portada h1{
  text-transform: uppercase;
  color: #fff;
  font-size: 30px;
  margin-bottom: 30px;
}

section.portada .info-portada p{
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 40px;
}

section.portada .info-portada .boton{
  font-size: 18px;
}



/* Presentacion 1 home */

section.presentacion-1{
  padding: 65px 0;
}

section.presentacion-1 .info{
  text-align: center;
}

section.presentacion-1 p{
  font-weight: 300;
  font-size: 14px;
}


section.presentacion-1 h3{
  margin-top: 20px;
}

section.presentacion-1 .boton{
  font-size: 18px;
}

section.presentacion-1 p, section.presentacion-1 h3{
  width: 100%;
  display: inline-block;
  margin-bottom: 25px;
}




/* Caracteristicas Home */

section.caracteristicas .item{
  text-align: center;
  margin-bottom: 30px;
}

section.caracteristicas { 
  text-align: center;
  
}

section.caracteristicas .item img{
  width: 80px;
  margin-bottom: 15px;
}

section.caracteristicas .item h5{
  text-transform: uppercase;
  font-size: 17px;
}

section.caracteristicas .item p{
  font-weight: 300;
  font-size: 14px;
}

section.caracteristicas h2{
 
  margin-top: 30px;
  font-size: 23px;
  margin-bottom: 20px;
}



/* Banner 1 */

section.banner-1 .row{
  height: 300px;
}

section.banner-1 p{
  color: #fff;
}

/* Banner 2 */

section.banner-2 .row{
  height: 400px;
  padding: 20px;
}

section.banner-2 h3{
  margin-bottom: 40px;
}

section.banner-2 p{
  margin-bottom: 40px;
}




/* Modelos */

section.modelos{
  padding: 70px 0;
}

section.modelos h2{
  color: var(--color-verde);
  margin-top: 30px;
  font-size: 23px;
  margin-bottom: 20px;
}

section.modelos h3{
  color: #ef9fa3;
  margin-top: 30px;
  font-size: 23px;
  margin-bottom: 20px;
}

section.modelos p{
  font-weight: 300;
  font-size: 14px;
}

  section.modelos .modelo{
    margin-bottom: 30px;
  }

section.modelos .boton{
  display: inline-block;
  margin-top: 5px;
}



/* PRESENTACION 2 */

section.presentacion-2{
  background: linear-gradient(to right, var(--color-verde) 0%,var(--color-verde) 50%,var(--color-verde) 50%,#e6e6e6 50%,#e6e6e6 100%);
  margin-top: 30px;
}

.ediciones-limitadas{
  height: 390px;
  background: url("../img/agenda-la-fecha-fondo-otrosdemos.jpg") no-repeat 0 -1px;
  background-size: cover;
}

.ediciones-limitadas h3, .ediciones-limitadas p{
  color: #fff;
  text-align: center;
}

.ediciones-limitadas h3{
  font-weight: 400;
  font-size: 23px;
  margin-bottom: 30px;
}

.ediciones-limitadas p{
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 40px;
}

.ediciones-limitadas a{
  margin: 0 10px;
}

.ediciones-limitadas a.boton:hover{
  color: var(--color-verde);
}


/* 15 años */

.quince-anios{
  height: 390px;
  position: relative;
}

.quince-anios .left-content{
  width: 50%;
  padding-left: 8%;
  padding-top: 12%;
}

.quince-anios h3{
  font-weight: 400;
  font-size: 23px;
  margin-bottom: 30px;
}

.quince-anios p{
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 40px;
}

.quince-anios a.boton{
  color: #fff;
  background-color: #ff548b;
  border-color: #ff548b;
}

.quince-anios a.boton:hover{
  color: #ff548b;
  background-color: #fff;
}

.quince-anios img{
  position: absolute;
  right: 0;
  top:-55px;
  width: 55%;
}



/* CONTACTO */

section.contacto{
  padding: 80px 0 50px;
}

section.contacto h4{
  font-weight: 400;
}

section.contacto p{
  font-weight: 300;
}

section.contacto a{
  color: #35aa7f;
}

section.contacto a:hover{
  color: black;
}

section.contacto ul li{
  margin-bottom: 5px;
}

section.contacto ul li i{
  font-size: 18px;
  margin-right: 3px;
}


.whatsapp-fixed{
  position: fixed;
  bottom: 85px;
  right: 28px;
  background: #02AF00;
  padding: 5px 9px;
  border-radius: 50px;
  z-index: 9999;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 55px;
  text-align: center;
}

.whatsapp-fixed:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25), 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}


.whatsapp-fixed i{
	color:#fff;
	font-size: 35px;
}



/* Blog */

section.cabecera{
  height: 200px;
  margin-top: 90px;
  background: url("../img/Agenda-blogheader.jpg") center center no-repeat;
  background-size: cover;
}

section.cabecera h1{
  color: #fff;
  margin-top: 80px;
  font-size: 30px;
}

section.cabecera h1 a{
  color: #fff;
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}

section.cabecera h1 a:hover{
  text-decoration: none;
  color: #ccc;
}

nav.menu-categorias{
  background: var(--color-verde);
  padding: 20px 0;
}

nav.menu-categorias a{
  color: #ccc;
  margin-left: 40px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 13px;
}

nav.menu-categorias a:hover{
  text-decoration: none;
  color: #fff;
}

nav.menu-categorias a.select{
  color: #fff;
}


section.posts{
  margin-bottom: 40px;
}

section.posts .lista-posts{
  padding-top: 80px;
}

section.posts .lista-posts h3{
  margin-bottom: 30px;
}
section.posts .lista-posts h3 span{
  color: var(--color-verde);
}


section.posts .lista-posts .post{
  padding: 0 10px;
  margin-bottom: 30px;
}

section.posts .lista-posts .post .content-post{
  border: 1px solid #e6e6e6;
  padding: 20px;
}

section.posts .lista-posts .post .content-post .fecha{
  font-size: 13px;
  font-weight: 300;
}

section.posts .lista-posts .post .content-post h2 a{
  color: var(--color-verde);
  font-size: 18px;
  padding-top: 10px;
}

section.posts .lista-posts .post .content-post h2{
  line-height: 0.8;
  margin-bottom: 20px;
}

.detalle-post .content-post h3{
  font-weight: 500;
  font-size: 20px;
}

.detalle-post .content-post strong{
  font-weight: 600;
}

.detalle-post .content-post img{
  width: 100%;
}

section.posts .lista-posts .post .content-post p{
  font-size: 13px;
  font-weight: 300;
}

section.posts .sidebar-blog{
  margin-top: 80px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #808080;
  width: 85%;
  height: fit-content;
  margin-left: 15%;
}

.shadow-hover:hover{
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}

.shadow-hover:hover{
  box-shadow: 0px 3px 3px #ccc;
}


.paginador{
  margin-top: 20px;
}

.paginador ul li{
  float: left;
  margin: 0 8px;
  border: 1px solid var(--color-verde);
  color: var(--color-verde);
  /* padding: 5px; */
  width: 25px;
  height: 25px;
  border-radius: 50px;
  text-align: center;
}

.paginador ul li:first-child, .paginador ul li:last-child{
  border: none;
}

.paginador ul li.active{
  background-color: var(--color-verde);
  color: #fff;
}

.paginador ul li:hover{
  background-color: var(--color-verde);
  color: #fff;
}
.paginador ul li:hover a{
  background-color: var(--color-verde);
  color: #fff;
}


.sidebar-blog strong{
  font-size: 20px;
}

.sidebar-blog h5{
  color: black;
  padding-bottom: 15px;
  border-bottom: 1px solid #999;
  margin: 40px 10% 20px;
  font-size: 16px;
}

.sidebar-blog ul.tags li{
  float: left;
  border: 1px solid var(--color-verde);
  color: var(--color-verde);
  margin: 0 10px;
  margin-top: 10px;
}

.sidebar-blog ul.tags li a{
  padding: 5px 10px;
  color: inherit;
  width: 100%;
  height: 100%;
  display: inline-block;
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}

.sidebar-blog ul.tags li a:hover{
  text-decoration: none;
  background-color: var(--color-verde);
  color: #fff;
}



.sidebar-blog .boton.verde-alt{
  padding: 10px 35px;
}



/* Articulo Blog */

.detalle-post{
  padding-top: 80px
}

section.posts .detalle-post .post .content-post .fecha{
  font-size: 14px;
  font-weight: 300;
  margin-top: 20px;
  display: inline-block;
}

section.posts .detalle-post .post .content-post h2 a {
    color: var(--color-verde);
    font-size: 30px;
    padding-top: 10px;
    display: inline-block;
    margin-bottom: 15px;
}

section.posts .detalle-post .post .content-post p {
    font-size: 14px;
    font-weight: 300;
}

.paginador-articulo{
  margin-top: 30px;
}

.paginador-articulo a{
  color: var(--color-verde);
}

.detalle-post ul.tags li{
  color: #fff;
  background-color: var(--color-verde);
  display: inline-block;
  width: auto;
  padding: 5px 10px;
  margin-right: 5px;
}
.detalle-post ul.tags li a{
  color: #fff;
}


/* Footer */

footer .footer{
  background-color: #000;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 15px 0;
}

footer .footer p{
  margin: 0;
  font-weight: 300;
  font-size: 15px;
}






/* Responsive */

@media (max-width: 768px){

  header ul.menu{
    width: 100%;
    display: none;
  }
  
  header ul.menu li{
    margin-left: 0;
    margin-bottom: 5px;
  }

  header .col-logo{
    text-align: center;
  }

  
  #boton-menu-mobile{
    display: inline-block;
  }

  header .col-menu{
    display: none;
  }

  section.portada .info-portada img {
    width: 40%;
  }

  section.portada .info-portada h1{
    font-size: 25px;
  }

  section.portada .info-portada p{
    font-size: 15px;
  }

  section.presentacion-1{
    padding: 0;
  }

  section.presentacion-1 h3{
    font-size: 21px;
  }

  section.presentacion-1 img{
    margin-top: 50px;
    margin-bottom: 50px;
  }

  section.banner-1 p{
    padding: 0 15px;
  }

    section.banner-2 {
    padding-top: 50px;
    padding-bottom: 100px;
  }


  section.modelos .modelo{
    margin-bottom: 30px;
  }

  footer .contacto-item{
    margin-bottom: 30px;
  }

  footer .whatsapp-fixed{
    bottom: 20px;
    right: 15px;
  }

  section.presentacion-2{
    background: none;
  }

  section.presentacion-2 .ediciones-limitadas{
    background-color: var(--color-verde);
    background-position: center center;
    height: 500px;
  }

  section.presentacion-2 .ediciones-limitadas a{
    width: 65%;
    display: inline-block;
    margin-bottom: 20px;
  }

  .quince-anios .left-content{
    width: 75%;
    padding-left: 0;
  }

  .quince-anios .left-content p{
    padding-right: 25%;
  }
  
  .quince-anios img{
    top: 5%;
    width: 50%;
  }

  section.posts{
    background: none;
  }

  section.posts .sidebar-blog{
    margin-top: 30px;
    padding: 60px 30px;
    width: 100%;
    margin-left: 0;
  }

  nav.menu-categorias a{
    margin-bottom: 5px;
    margin-left: 0;
  }

  

}